parameters:
    level: 3

    paths:
        - product-designer-pro.php
        - includes
        - public

    excludePaths:
        - vendor
        - node_modules

    ignoreErrors:
        - '#Function add_action not found#'
        - '#Function add_filter not found#'
        - '#Function woocommerce_wp_checkbox not found#'
        - '#Function esc_html__ not found#'
        - '#Function esc_html_e not found#'
        - '#Function esc_url not found#'
        - '#Function add_query_arg not found#'
        - '#Function absint not found#'
        - '#Function site_url not found#'
        - '#Function wp_unslash not found#'
        - '#Function wp_rand not found#'
        - '#Function wc_get_cart_url not found#'
        - '#Function esc_attr not found#'
        - '#Function wp_enqueue_script not found#'
        - '#Function wp_enqueue_style not found#'